@inject IJSRuntime JSRuntime

@inject Data.GamePlay GamePlay
@implements IDisposable

<div class="page black-bg @(Visible ? "show" : "")">
    <div class="header">
        <a class="setting-button dark" href="/play" @onclick:preventDefault="true" @onclick="async () => {await SettingsOpened.InvokeAsync();}">
            <div />
            <span>@Player?.Name</span>
        </a>
        <img src="/imgs/un symbol gn.svg" style="max-width:50px;" />
    </div>

    <div class="body">
        <div class="score-display">
            <h3>SCORE</h3>
            <h3>@Player?.Score</h3>
        </div>

        <div style="position:relative;">
            <h1 class="stage-display" style="visibility:hidden; opacity:0;">Stage 0</h1>
            @foreach (var item in this.GamePlay.Stages)
            {
                <h1 class="stage-display animated @(this.GamePlay.Stage == item.Key ? "show" : "")">Stage @item.Key</h1>
            }
        </div>
        
        <div class="wheel-wrapper">
            <div id="@WheelId" class="wheel">
                <ul class="wheel-scroll">
                    @for (var i = 1900; i < DateTime.Now.Year; i++)
                    {
                        <li class="wheel-item" data-value="@i">@i</li>
                    }
                </ul>
            </div>
        </div>

@*        <div style="width: 100%; height: 70%;">
            <div style="border-right: 1px solid #cdfe00; border-left: 1px solid #cdfe00; height: 100%; width: 30%; margin: 0 auto;"></div>
        </div>*@

        <div style="justify-content:center; display:flex;">
            <button class="save-button" @onclick="SubmitAnswer">Submit</button>
        </div>
    </div>
</div>

<style>
    .body {
        padding-top: 30px;
    }

    .animated{
        opacity: 0;
        transition: 0.4s;
        position: absolute;
        transform: translateY(20px);
        top:0;
    }

        .animated.show {
            opacity: 1;
            transform: translateY(0);
        }

    .stage-display {
        width: 100%;
        color: #fff;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .wheel-wrapper {
        padding: 20px 0;
        width: 130px;
        border-inline: 1px solid #CDFE00;
        overflow: hidden;
        margin: 0 auto;
        color: #CDFE00;
        margin-bottom: 45px;
    }

    .wheel {
        height: 100%;
        overflow: hidden;
    }

    .wheel-scroll {
        list-style: none;
        padding: 0;
        text-align: center;
        margin-top: 130px;
    }

    .wheel li {
        font-size: 20px;
    }

    .wheel-item[style*="rotateX(0deg)"] {
        font-size: 28px;
        font-weight: bold;
    }
    
    .save-button {
        margin-bottom: 100px;
    }
</style>

@code {
    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public string Name { get; set; } = default!;

    [Parameter]
    public EventCallback<string> SettingsOpened { get; set; }

    [Parameter]
    public Data.Player? Player { get; set; }

    private string WheelId = "Wheel" + Guid.NewGuid().ToString();

    int stage;

    private async Task SubmitAnswer()
    {
        var value = await this.JSRuntime.InvokeAsync<string>("getWheelValue");

        if (this.Player != null)
            this.GamePlay.Answer(Player, this.stage, int.Parse(value));
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Yield();
            await this.JSRuntime.InvokeVoidAsync("mountWheel", WheelId);
        }
    }

    protected override void OnInitialized()
    {
        this.stage = GamePlay.Stage;
        GamePlay.StageChanged += HandleStageChanged!;
    }

    private void HandleStageChanged(object sender, EventArgs e)
    {
        InvokeAsync(async () =>
        {
            await Task.Yield(); // Ensures that the rendering process has a chance to execute
            this.stage = GamePlay.Stage;
            StateHasChanged(); // Notify Blazor to re-render the component
        });
    }

    public void Dispose()
    {
        GamePlay.StageChanged -= HandleStageChanged!;
    }
}
