<div class="page green-bg @(Visible ? "show" : "")">
    <div class="header">
        <img src="/imgs/Untitld Logo Black.svg" style="max-width:150px;" />
        <h3 style="margin:0; color: black;">@Name</h3>
    </div>
    
    <div class="body">
        <h1 class="title">Final Scoreboard</h1>
        
        <ul class="board">
            @foreach (var (name, score) in scores)
            {
                <li class="@(Name == name ? "current-player" : "")">
                    <div class="user">
                        <div class="rank">#@(scores.IndexOf((name, score)) + 1)</div>
                        <div>@name<span> *</span></div>
                    </div>
                    <div class="score">@score</div>
                </li>
            }
        </ul>
    </div>
</div>

<style>
    .title {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
    }

    .board {
        list-style: none;
        padding: 0;
        width: 250px;
        margin: 0 auto;
    }

    .board li {
        height: 50px;
        border-bottom: 1px solid #000;
        display: flex;
        align-items: center;
        font-size: 18px;
        justify-content: space-between;
    }

    .board .current-player {
        font-weight: bold;
    }

    .board .user {
        display: flex;
    }

    .board .rank {
        width: 36px;
    }
    .board .user span {
        display: none;
    }

    .board .current-player .user span {
        display: inline;
    }

</style>

@code {

    private List<(string name, int score)> scores = new List<(string name, int score)>()
    {
        ("Ahmed", 100),
        ("Mohamed", 200),
        ("Ali", 300),
        ("Hassan", 400),
        ("Khaled", 500),
        ("Omar", 600),
        ("Mahmoud", 700),
        ("Youssef", 800),
        ("Amr", 900),
        ("Ibrahim", 1000),
    };
    
    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public string Name { get; set; } = default!;

    [Parameter]
    public EventCallback<string> SettingsOpened { get; set; }
}
